<div class="jumbotron center">
 <% if user_signed_in? %>
    <h1>Welcome to Pinteresting Members Area of the App</h1>
 <% else %>
  <h1>Welcome to Pinteresting App</h1>
  <p>
    <%=link_to "Log in", new_user_session_path, class:"btn btn-default btn-lg" %>
  	<%=link_to "Sign in", new_user_registration_path, class:"btn btn-primary btn-lg" %>
  </p>
  <% end %>
</div>